body {
    font-family: Arial, sans-serif;
    background-image: url('/avatar/background.jpg'); /* 背景图片 */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff; /* 设置文本颜色 */
}

h1 {
    text-align: center;
    color: #0c0202; /* 白色文本 */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

form {
    margin-top: 20px;
}

form div {
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* 深色文本 */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-left: 35px; /* 为图标预留空间 */
    border: 1px solid #ddd;
    border-radius: 20px; /* 圆角 */
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9); /* 半透明背景 */
    color: #333;
    font-size: 14px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 20px; /* 圆角 */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px; /* 调整图标大小 */
    color: #007bff;
    line-height: 0; /* 确保图标高度不影响对齐 */
}
